@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Tomorrow:ital,wght@1,900&display=swap');

body {
  background-color: #FFB2E6;
}

.topnav {
  background-color: transparent;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #8447FF;
  text-align: center;
  padding: 14% 16%;
  text-decoration: none;
  font-size: 100%;
  font-family:
}
.active {
  background-color: transparent;
  color: #FFFFE8;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 100%;
  border: none;
  outline: none;
  color: #8447FF;
  padding: 14% 16%;
  background-color: inherit;
  font-family:
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160%;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #8447FF;
  padding: 1% 1%;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family:
  font-size: 100%;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: transparent;
  color: #FFFFE8;
}
.dropdown-content a:hover {
  background-color: transparent;
  color: #8447FF;
}
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
display: none;
  }
  .topnav a.icon 
  {
  float: right;
  display: block;
  }
}
@media screen 
{
  .topnav.responsive 
  {
  position: relative;
}
  .topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
  }
  .topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  }
  .topnav.responsive .dropdown 
  {
    float: none;
  }
  .topnav.responsive .dropdown-content 
  {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left;
  }
} 

img {
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe{
      position: relative;
      right: -675px;
      box-align:center;
      width: 500px;
      height: 900px;
      margin-top: 20px;
      margin-bottom: 30px;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      -moz-box-shadow: 4px 4px 14px #000;
      -webkit-box-shadow: 4px 4px 14px #000;
      box-shadow: 4px 4px 14px #000;;
      }

.footer {
        background-color: #33FFBE;
        position: relative;
        height: 20%;
        display: block;
}
      
.footer p {
        color: #8447FF;
        text-align: center;
        max-width: none;
        line-break: auto;
        margin: auto;
}
      
.footer nav {
        word-spacing: 20px;
        padding-bottom: 20px;
        text-align: center;
}
