@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Tomorrow:ital,wght@1,900&display=swap');

body {
  background-color: #FFB2E6;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.home {
  overflow: hidden;
}

.home a {
  float: left;
  color: #007ac5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Tomorrow', sans-serif;
}
.home a:hover {
  background-color: #2f2f31;
  color: #ef0098;
}
img {
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  background-color: transparent;
  position: relative;
  height: 20%;
  display: block;
}

.footer p {
  color: #33FFBE;
  text-align: center;
  font-size: 150%;
  line-break: auto;
  margin: auto;
}

.footer nav {
  word-spacing: 20px;
  padding-bottom: 20px;
  text-align: center;
}