


body {
  background-color: #FFB2E6;
}
#bmtaxxhead {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 
{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
    color:  #33FFBE;
    position: relative;
}

.footer {
  background-color: transparent;
  position: relative;
  height: 20%;
  display: block;
}

.footer p {
  color: #33FFBE;
  text-align: center;
  font-size: 150%;
  line-break: auto;
  margin: auto;
}

.footer nav {
  word-spacing: 20px;
  padding-bottom: 20px;
  text-align: center;
}