@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Tomorrow:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
  background-color: #FFB2E6;
}

.container {
  position: relative;
  margin: 20%;
  width: auto;
}

.home {
  overflow: hidden;
}

.home a {
  float: right;
  color: #8447FF;
  text-align: center;
  padding: 2% 1%;
  text-decoration: none;
  font-size: 200%;
  font-family: 'Dancing Script', cursive;
}
.home a:hover {
  background-color: transparent;
  color: #FFFFE8;
}

#bmtaxxhead {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 
{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
    color:  #33FFBE;
    position: relative;
}
h2
  {
    text-align: center;
    font-size: 100%;
    font-family: ;
    width: 300px;
    border: 15px solid transparent;
    padding: 50px;
    margin: 20px;
    position: relative;
    align-items: center;
}

h3
  {
    text-align: center;
    font-family: ;
    font-size: 100%;
    width: 300px;
    border: 15px solid transparent;
    padding: 50px;
    margin: 20px;  
}
h4
  {
    text-align: center;
    font-size: 100%;
    font-family: ;
    width: 300px;
    border: 15px solid transparent;
    padding: 50px;
    margin: 20px;  
}
h5
  {
    text-align: center;
    font-size: 100%;
    font-family: ;
    width: 300px;
    border: 15px solid transparent;
    padding: 50px;
    margin: 20px;  
}

#github {
  width: 300px;
  height: 300px;
}

#twitter {
  width: 300px;
  height: 300px;
}

#linkedin {
  width: 300px;
  height: 300px;
}

#instagram {
  width: 300px;
  height: 300px;
}

#applemusic {
  width: 300px;
  height: 300px;
}

#reddit {
  width: 300px;
  height: 300px;
}

#unsplash {
  width: 300px;
  height: 300px;
}

#letterboxd {
  width: 300px;
  height: 300px;
}

#spotify {
  width: 300px;
  height: 300px;
}